<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../resources/fontawesome-free-6.5.1-web/css/all.min.css">
    <link rel="stylesheet" href="../resources/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="#calm">Calm</a>
            <a href="#sleep">Sleep</a>
            <a href="#stress">Stress & Anxiety</a>
            <a href="mind-fulness">Mindfulness</a>
        </div>
        <div class="navbar-middle"></div>
        <div class="navbar-right">
            <a href="calm-business">Calm Business</a>
            <a href="calm-health">Calm Health</a>
            <a href="log-in">Log in</a>
            <a href="sign-up">Try Calm for free</a>
        </div>
    </nav>
</body>
</html>