.navbar {
    display: flex;
    justify-content: space-between; /* Aligns items at the beginning and end of the flex container */
    align-items: center; /* Aligns items vertically */
    background-color: #333;
    color: white;
    padding: 10px;
}

.navbar-left {
    flex:2;
    display: flex; /* Use flexbox for nested content alignment */
    justify-content: space-around; /* Center content horizontally */
    align-items: center;
}

.navbar-right {
    flex:2;
    display: flex; /* Use flexbox for nested content alignment */
    justify-content: space-around; /* Center content horizontally */
    align-items: center;
}

.navbar-middle {
    flex:2;
}